<div id="pl">
  <div class="pl-bg-blob pl-bg-blob-1"></div>
  <div class="pl-bg-blob pl-bg-blob-2"></div>
  <img src="/smartCityLOGO.png" alt="Smart City Logo" class="pl-logo">
  <div class="pl-b"><div class="pl-f"></div></div>
  <div class="pl-t">Centre Smart City · UCA</div>
</div>
